<div class="row">
  <div class="col-md-3">
    <h2>Bar Chart</h2>
    <canvas id="barchart"></canvas>
  </div>
  <div class="col-md-3">
    <h2>Pie Chart</h2>
    <canvas id="piechart"></canvas>
  </div>
  <div class="col-md-3">
    <h2>Doughnut Chart</h2>
    <canvas id="doughnutchart"></canvas>
  </div>
  <div class="col-md-3">
    <h2>PolarArea Chart</h2>
    <canvas id="polarchart"></canvas>
  </div>
  <div class="col-md-3">
    <h2>Radar Chart</h2>
    <canvas id="radarchart"></canvas>
  </div>
  <div class="col-md-5">
    <h2>Bubble Chart</h2>
    <canvas id="bubblechart"></canvas>
  </div>
  <div class="col-md-4">
    <h2>Scatter Chart</h2>
    <canvas id="scatterchart"></canvas>
  </div>
</div>
