.outer-cont {
  display: flex;
  flex-direction: column;
  background-color: rgb(65, 105, 225);
  justify-content: center;
  align-items: center;
  height: 500px;
}
button {
  font-size: 20px;
  padding: 5px;
  border-radius: 10px;
  border: none;
  margin: 10px;
}
main {
  display: grid;
  grid-template-columns: 200px 200px 200px;
  grid-gap: 0px;
}
app-board {
  height: 70px;
}
